# ==========================================
# PostgreSQL Configuration
# ==========================================

POSTGRES_DB=delivery_management_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password

# ==========================================
# Spring Boot Configuration
# ==========================================

DB_URL=jdbc:postgresql://postgres:5432/delivery_management_db
DB_USERNAME=postgres
DB_PASSWORD=your_password